.main {
    text-align: center;
    border: 1px solid #333333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20%;
    height: 40%;
    box-shadow: 0 10px 6px -6px #777;
}

.title {
    margin-bottom: 10px;
}

#disp {
    margin-top: 10%;
    font-size: 70px;
}